<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Password Reset</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
      }
      .reset-container {
        background-color: #ffffff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        text-align: center;
        width: 300px;
        padding-right: 40px;
      }
      .reset-title {
        font-size: 24px;
        color: black;
        margin-bottom: 20px;
      }
      .reset-input {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        transition: border-color 0.3s; /* Border rengi geçişi */
      }
      .reset-input:focus {
        border-color: black; /* Inputa tıklandığında border rengi değişir */
      }
      .reset-button {
        background-color: black;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
      }
      .reset-button:hover {
        background-color: #5a1d99;
      }
    </style>
  </head>
  <body>
    <div class="reset-container">
      <h2 class="reset-title">Password Reset</h2>

      <input
        id="newPassword"
        class="reset-input"
        type="password"
        name="newPassword"
        placeholder="New Password"
        required
      />
      <input
        id="newPasswordConfirmation"
        class="reset-input"
        type="password"
        name="newPasswordConfirmation"
        placeholder="Confirm New Password"
        required
      />
      <button class="reset-button">Reset Password</button>
    </div>
    <script src="passwordReset.js" type="scripttype"></script>
  </body>
</html>
