<style>
  html {
    padding: 0;
    margin: 0;
  }

  .every-where-code {
    color: #555;
    font-size: 16px;
    text-decoration: none;
  }

  footer {
    padding-top: 10px;
  }
</style>

<footer>
  <p>© 2023 everywherecode</p>
  <a href="https://everywherecode.com/" class="every-where-code"
    >everywherecode.com</a
  >
</footer>
